@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #191308;
}

.wrapper{
    background: #1D1A05;
    position: fixed;
    width: 100%;
    border-radius: 10px;
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 100px;
    display: flex;
  }
  .content .logo a{
    color: #DB222A;
    font-size: 40px;
    font-weight: 600;
    
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 9px 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrapper .search-icon{
    color: #DB222A;
    font-size: 25px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }

  .wrapper .menu-icon{
    color: #DB222A;
    font-size: 25px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
  }
  .wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    color: greenyellow;
    background: #1D1A05;
    padding: 0 100px 0 15px;
  }
  .search-box input::placeholder{
    color: white;
    font-size: 25px;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #1D1A05;
    border: none;
    outline: none;
    color: greenyellow;
    font-size: 20px;
    cursor: pointer;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #DB222A;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  @media screen and (max-width: 900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #1D1A05;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .wrapper .search-box input{
      padding-right: 30px;
    }
  }
  .dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .dummy-text h2{
    font-size: 45px;
    margin: 5px 0;
  }

  #homeLink {
    color: #DB2B39;
}

/**
* Content Section
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 135px;
    justify-content: center;
}

@media (max-width: 1410px){
    .shop{
        grid-template-columns: repeat(2, 260px);
    }
    
    .payIcon {
       display: none;
    }
}

@media (max-width: 895px){
    .payIcon {
        display: none;
     }

     footer {
        display: none;
     }

     footer .copyrightIcon .fa-regular {
        display: none;
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 260px);
    }

    .payIcon {
        display: none;
     }

     footer .copyrightIcon .fa-regular {
        display: none;
    }

    .startShopping {
        font-size: 9px;
    }
}

.item {
    border: 3px solid black;
    border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px;
}

.bi-dash-square{
    color: red;
}

.bi-plus-square{
    color: green;
}

/**
* Footer Section
**/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #1D1A05;
    border: 3px;
    word-spacing: 5px;
}

.payIcon {
    position: relative;
    height: 30px;  
    justify-content: space-between;
    align-items: center;
    left: -250px;
    padding: 8px;
}

footer .copyrightIcon .fa-regular {
    position: relative;
    top: 10px;
    transform: translateY(-50%);
    left: 180px;
    color: white;
    padding: 0 30px 0 300px;
}

#mainContent {
    width: 100%;
    height: 100%;
}

#mainContent ul{
    list-style: none;
}

#welcome {
    font-family: 'Helvetica';
    top: 20%;
    font-size: 100px;
    letter-spacing: 5px;
    color:#DB2B39;
    padding-left: 10%;
}

#info {
    font-family: "Rockwell Extra Bold", "Rockwell Bold";
    font-size: 35px;
    width: 50%;
    top: 40%;
    padding-left: 10%;
    padding-top: 2%;
    margin-top: 1%;
    color: #DB2B39;
}

.startShopping {
    font-family: 'Helvetica';
    width: 35%;
    height: 10%;
    display: block;
    padding: 20px 21px;
    text-align: left;
    background: #DB2B39;
    outline: none;
    border-radius: 40px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: .3s;
    color: white;
    font-size: 28px;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
}

.startShopping:hover{
    transform: translateY(-15px);
    background: #FFCC70;
    color: white;
}
