@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 450px;
    height: 500px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    padding: 40px 30px;
}

.mainContainer .welcomeText {
    font-family: Arial, Helvetica, sans-serif;
    color: #F35B04;
    font-weight: 510;
    font-size: 60px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-transform: capitalize;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3s steps(40, end),blink-caret .50s step-end infinite;
}

.mainContainer .someInfo {
    color: #453F3C;
    font-weight: 510;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #F35B04;; }
  }

.mainContainer .buttons .allLinks {
    width: 100%;
    height: 51px;
    margin-bottom: 26px;
}

.mainContainer .buttons .allLinks a {
    text-decoration: none;
    color: white;
}

.mainContainer .buttons .allLinks .myButton {
    width: 100%;
    display: block;
    padding: 25px 50px;
    text-align: center;
    background: #279AF1;
    outline: none;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.mainContainer .buttons .allLinks .myButton:hover {
    transform: translateY(-15px);
    background: #FFCC70;
}

@media (max-width: 430px) {
    .loginContainer {
        width: 300px;
    }
}